[submodule "autossh"]
	path = autossh
	url = https://github.com/eduardoenemark/containers-autossh.git
[submodule "h2"]
	path = h2
	url = https://github.com/eduardoenemark/containers-h2.git
[submodule "linuxserver-rdesktop-python-and-tools"]
	path = linuxserver-rdesktop-python-and-tools
	url = https://github.com/eduardoenemark/containers-linuxserver-rdesktop-python-and-tools.git
[submodule "monero"]
	path = monero
	url = https://github.com/eduardoenemark/containers-monero.git
[submodule "rocm"]
	path = rocm
	url = https://github.com/eduardoenemark/containers-rocm.git
[submodule "searxng"]
	path = searxng
	url = https://github.com/eduardoenemark/containers-searxng.git
[submodule "tor-proxy"]
	path = tor-proxy
	url = https://github.com/eduardoenemark/containers-tor-proxy.git
[submodule "tor"]
	path = tor
	url = https://github.com/eduardoenemark/containers-tor.git
